


.main-banner {
        .skfsd{
            background: #003079;
            height: 1080px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .sbsnc{
                padding: 24px;
                position: relative;
                .shvxahvx{
                    width: 160px!important;
                }
                .sbcashcb{
                   
                    line-height: 50px;
                    color: #fff;
                    font-size: 24px;
                }
                .sncanax{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    float: right;
                    display: none;
                }
            }
            .sbsscsnc{
                .adak{
                    padding: 30px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .sjdb{
                        width: 100%;
                        background: #003079;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 4px;
                        margin-bottom: 20px;
                        height: 40px!important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: Questrial;
                        font-style: normal;
                        font-weight: normal;
                        
                        font-size: 14px;
                        line-height: 24px;
                        color: #fff;
                    }
                    .sjsdsdb{
                        width: 100%;
                        background: #003079;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 4px;
                        height: 40px!important;
                        font-family: Questrial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 24px;
                        color: #fff;
                    }
                }
            }
        }
        .skfsdd{
            background: #003079;
            height: 1080px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .sbsnc{
                padding: 24px;
                position: relative;
                .shvxahvx{
                    width: 160px!important;
                }
                .sbcashcb{
                   
                    line-height: 50px;
                    color: #fff;
                    font-size: 24px;
                }
                .sncanax{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    float: right;
                    display: none;
                }
            }
            .sbsscsnc{
                .adak{
                    padding: 30px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .sjdb{
                        width: 100%;
                        background: #003079;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 4px;
                        margin-bottom: 20px;
                        height: 40px!important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: Questrial;
                        font-style: normal;
                        font-weight: normal;
                        
                        font-size: 14px;
                        line-height: 24px;
                        color: #fff;
                    }
                    .sjsdsdb{
                        width: 100%;
                        background: #003079;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 4px;
                        height: 40px!important;
                        font-family: Questrial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 24px;
                        color: #fff;
                    }
                }
            }
        }
        .main-content{
            padding: 53px;
            padding-bottom: 0px;
        }
        .upperdivss{
            border-bottom: 1px solid #D1D1D1;
            padding-bottom: 18px;
            margin-bottom: 18px;
            .sdsjscc{
                background: #FFFFFF;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 14px 16px;
                height: 200px;
                margin-top: 10px;
                .ajbajb{
                    input{
                        background: #EAEAEA;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 4px;
                        height: 44px;
                    }
                    .ajab{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h5{
                            font-family: Questrial;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 24px;
                            color: #888888;
                        }
                        h6{
                            font-family: Questrial;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 24px;
                            color: rgba(136, 136, 136, 1);
                        }
                    }
                }
            }
            .geading{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
         
            .leftside{
                .sjsjn{
                    h6{
                        font-family: Questrial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #888888;
                    }
                }
            }
            .rightside{
                .sndbshd{
                    background-color: transparent;
                    border: none;
                    i{
                        color: #888888;
                    }
                }
            }
        }
        .downdivss{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .sknkcs{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                .jxjsfz{
                    .dropdown-menu {
                        width: 100%;
                        border: 1px solid rgb(236, 232, 232);
                    }
                    .djhdvdc{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: rgba(255, 255, 255, 1);
                        border: none;
                        outline: none;
                        box-shadow: none;
                        border-radius: 6px;
                        font-family: Questrial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        width: 207px;
                        padding: 10px 14px;
                        height: 50px;
                        line-height: 24px;
                        color: rgba(136, 136, 136, 1);
                        i{
                            color: rgb(214, 212, 212);  
                        }
                    }
                }
            }
            .sknssfkcs{
                display: flex;
                justify-content: space-between;
                align-items: center;
               
                .ajaja{
                    button{
                        background-color: rgba(255, 255, 255, 1);
                        border: none;
                        outline: none;
                        box-shadow: none;
                        height: 50px;
                        width: 50px;
                        border-radius: 6px;
                    }
                    .jxjsfz{
                        .dropdown-menu {
                            width: 100%;
                            border: 1px solid rgb(236, 232, 232);
                        }
                        .djhdvdc{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: rgba(255, 255, 255, 1);
                            border: none;
                            outline: none;
                            box-shadow: none;
                            border-radius: 6px;
                            font-family: Questrial;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            width: 207px;
                            padding: 10px 14px;
                            height: 50px;
                            line-height: 24px;
                            color: rgba(136, 136, 136, 1);
                            i{
                                color: rgb(214, 212, 212);  
                            }
                        }
                    }
                }
            }
        }
    }
    .downtabless{
        height: 600px;
        overflow: scroll;
        margin-top: 24px;
            table{
                border-collapse: separate;
                border-spacing: 0 20px;
            thead{
                tr{
                    th{
                        border: none;
                        font-family: Questrial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(136, 136, 136, 1)!important;
                    }
                }
              
            }
            tbody{
                tr{
                   
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 19px!important;
                    td{
                        margin-bottom: 20px!important;
                        border: none;
                        white-space: nowrap;
                        font-family: Questrial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 24px;
                        color: #888888;
                    }
                }
            }
        }
    }
    .SNJNC{
        border-radius: 6px 0px 0px 6px;
    }
    .sbzcjbz{
        border-radius: 0px 6px 6px 0px;
    }
    .sjhdads{
        span{
            background: #FFC672;
            border-radius: 4px;
            padding: 6px 14px;
        }
    }
    .akjscn{
        span  
        {
            background: #9DE6A0;
            border-radius: 4px;
            padding: 6px 14px;
        }
    }
    .sbzcjbz{
        span{
            background: #F0F0F0;
            border-radius: 4px;
            padding: 6px 14px;
        }
    }
    .ajbdjabda{
        margin-bottom: 20px;
    }
    .asjakbsc{
        .ajasjhbc{
            display: flex;
            margin-top: 32px;
            justify-content: start;
            align-items: center;
            font-family: Questrial;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 24px;
            color: rgba(167, 167, 167, 1);
            h6{
                padding-right: 15px;
            }
            a{
                text-decoration: none;
                color: rgba(167, 167, 167, 1);
                text-decoration: underline!important;
            }
        }
    }
   .asdjaiaanc{
       display: flex;
       justify-content: space-between;
       flex-direction: column;
   }
   @media (max-width: 1500px) {
    .downtabless{

        height: 600px;
        overflow-y: scroll;
    }
   }
@media (max-width: 1400px) {
    .Ourfeature .NSAKNSD .left-side h3{
        font-size: 47px!important;
    }
    .Ourfeature .NSAKNSD .right-side{
        margin-left: 28px;
    }
}
@media (max-width: 1199px) {
   
    .main-banner .upperdivss .sdsjscc{
        height: 142px;
    }
    .main-banner .main-content{
        padding: 22px;
    }
    .downtabless{
        margin-top: 18px;
        height: 418px;
        overflow-y: scroll;
    }
   
}
@media (max-width: 991px) {
    .main-banner .skfsd{
        height: 1080px;
    }
    .main-banner .downdivss{
        flex-wrap: wrap;
    }
    .main-banner .downdivss .sknkcs{
        margin-bottom: 20px;
    }
    .downtabless{
        margin-top: 0px;
    }
    .Ourfeature .NSAKNSD .right-side {
        margin-left: 0px;
    }
    .Ourfeature .lskss{
        top: 75px;
        bottom: unset;
        right: 0px;
    }
    .main-banner .right-side .imgdss {
        position: absolute;
        right: 0px;
    }
    .main-banner .imgds{
        z-index: -1;
    }
}

@media (max-width: 600px) {
    .main-banner .skfsd{
        height: 90px;
        overflow: hidden;
    }
    .main-banner .skfsd .sbsnc .sncanax{
        display: block;
    }
    .main-banner .skfsdd .sbsnc .sncanax{
        display: block;
    }
    // .sncanax{
    //     display: block;
    // }
    // .main-banner .sjhfhdjshc{
    //     height: 96px;
    //     overflow: hidden;
    // }
    .main-banner .skfsdd{
        height: 260px;
    }
    .main-banner .downdivss .sknkcs .jxjsfz .djhdvdc{
        width: 100%;
        margin-bottom: 20px;
    }
    .main-banner .downdivss .sknssfkcs{
        flex-wrap: wrap;
        justify-content: unset;
    }
    .main-banner .downdivss .sknssfkcs .ajaja .jxjsfz .djhdvdc{
        min-width: 100%;
        
    }
    .sjhsa{
        margin-top: 20px;
        .jxjsfz{
            width: 100%;
        }
        width: 100%;
    }
    .asjakbsc .ajasjhbc{
        flex-wrap: wrap;
    }
    .main-banner .downdivss .sknkcs{
        flex-wrap: wrap;
    }
    .main-banner .downdivss .sknkcs .jxjsfz{
        width: 100%;
        margin-right: 0px;
    }
    .main-banner {
        
    }
    .main-banner .left-side .buttons .jj{
        margin-left: 0px;
    }
    .main-banner .left-side .buttons .jh{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .Ourfeature .NSAKNSD{
        padding: 0px;
    }
    
}
@media (max-width: 400px) {
    .main-banner .left-side h2{
        font-size: 39px!important;
    }
    .Ourfeature .NSAKNSD .left-side h3{
        font-size: 35px!important;
    }
}